<html>
  <head>
  </head>
  <style>
      td { 
        padding: 1em; 
        border-radius: 0.2em;
        transition: opacity 500ms;
      }
      <% @backgrounds.each do |result, background| %>
        td.<%= result %>{ <%= background %> }
      <% end %>

      tr.hidden {
        opacity: 0.2;
      }

      div.cols {
        display: flex;
        gap: 1em;
        overflow: scroll;
        position: sticky;
        top: 0;
        left: 0;
      }

      div.col.hidden {
        width: 0px;
        transition: width 700ms;
        display: none;
      }

      div.col {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      div.label-level {
        padding-left: 1em;
      }

      div.container {
        display: flex;
        gap: 1em;
        align-items: flex-start;
      }

      div.header {
        display: flex;
        gap: 1em;
        padding: 1em;
      }

      div.labels {
        padding: 1em;
        overflow: scroll;
        min-width: max-content;
        font-size: 70%;
      }

      table {
        border-spacing: 4px;
        border-collapse: separate;
      }

  </style>
  <link rel="stylesheet" href="pico.classless.css">
  <script>
    document.addEventListener("DOMContentLoaded", () => {

      document.querySelectorAll('input[type="checkbox"]').forEach(e => e.checked = false)

      let levelCheckboxes = document.querySelectorAll("input.label-level-input")
      levelCheckboxes.forEach((levelCheckbox) => {
        levelCheckbox.addEventListener("change", () => {
          let childCheckboxes = levelCheckbox.parentNode.nextSibling.querySelectorAll('input.label-input')
          childCheckboxes.forEach((childCheckbox) => {
            childCheckbox.checked = levelCheckbox.checked
            childCheckbox.dispatchEvent(new window.Event('change', { bubbles: false }))
          })
        })
      })

      let checkboxes = document.querySelectorAll("input.label-input")
      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", () => {
          let rows = document.querySelectorAll(`tr[data-labels*="|${checkbox.id}|"]`)
          rows.forEach((row) => {
            checkbox.checked ? row.classList.remove("hidden") : row.classList.add("hidden")
          })

          let cols = document.querySelectorAll(`.col[data-labels*="|${checkbox.id}|"]`)
          cols.forEach((col) => {
            checkbox.checked ? col.classList.remove("hidden") : col.classList.add("hidden")
          })
        })
      })
    })

  </script>
  <body>
    <div class="header">
      <% language_names.each do |language, name| %>
        <a href="<%= language %>.html"><%= name %></a>
      <% end %>
    </div>
    <div class="container">
      <div class="labels">
        <%= html_tree %>
      </div>
      <div class="cols">
        <% language_data.each do |problem_id, bug_ids| %>
          <div class="col hidden" data-labels="|<%= language_labels_per_problem[problem_id].join('|') %>|">
            <span><%= problem_id %></span>
            <table>
              <% bug_ids.each do |bug_id, candidate_results| %>
                <tr class="hidden" data-labels="|<%= language_labels[bug_id].join('|') %>|">
                <% candidate_results.each_with_index do |candidate_result| %>
                  <td class="<%= candidate_result %>" title="<%= "#{bug_id} - #{candidate_result.gsub('__', ',')}" %>"></td>
                <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>